<div ng-controller="CommentDetailController as vm">
	<div id="backgroundcoloraddcomment">
		<a id="backtopublic" ui-sref="Home">Back ></a>
		<div class="container well">
			<div class="hcenter">
				<h4>Add Comment!</h4>
				<br>
			</div>
		</div>
		<!--.............................................................ADD COMMENT BOX.......................................................-->
		<div>
			<div class="container well">
				<textarea id="commentbox" class="form-control" placeholder="Comment here..." ng-model="vm.comment.body"></textarea>
				<button class="btn btn-danger btn-xs" ui-sref="Home">Cancel</button>
				<button class="btn btn-info btn-xs" ng-click="vm.createComment();">Submit</button>
			</div>
		</div>
		<hr/>
		<!--.................................................................OUTPUT.......................................................-->

		<div ng-repeat="c in vm.blog.comments | orderBy: '-dateCreated' ">
			<div class="well container">
				<p id="commentoutput"><i>"{{c.body}}"</i></p>
				<br>
				<span id="commentauthor"><i></i> {{c.dateCreated | date: "short"}}</span>

			</div>
			<br>
		</div>
	</div>
</div>
