
<div id="backgroundcolorhelp">
	<a id="backtopublic2" ui-sref="Home">Back ></a>
	<form id="addblogbox2" class="well container">
		<div class="form">
			<h3 id="headerhelp" align="center">Help</h3>
			<br />
			<p align="center"><b><u>Account Settings</u></b></p>
			<br />
			<ul>
				<li>Password Reset, please send email request to <a>mypasswordreset@admin.com</a></li>
				<br />
				<br />
				<li>Tech issues, please contact our tech team at (123)456-7890</li>
				<br />
				<br />
				<li>Delete Account, please send email request to <a>myaccountdelete@admin.com</a></li>
				<br />
				<br />
				<li>Report Offensive Content, please send email alert to <a>myreport@admin.com</a></li>
				<br />
				<br />
				<li>Legal/Media, please call our legal dept. at (123)456-7890</li>
				<br />
				<br />
				<li>General Questions, please send an email request to <a>myquestions@admin.com</a></li>
			</div>
			<br>
		</form>
	</div>
