<div ng-controller="HomeController as vm" class="publicImage">
	<!--................................................................HEADER...........................................................................................f-->

	<nav id="publicnavbar" class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="headerpublic"><h2>MyBlog_Wall</h2></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a ui-sref="Profile"> Profile ></a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<!--................................................................BLOG BOX.....................................................................................-->
	<div class="flex-container">
		<div ng-repeat="b in vm.blogS | orderBy: '-dateCreated'"  class="task-col"> <!--this line says that it will loop through all the properties in vm.comments-->
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="panel-title"></span>
				</div>
				<div id="blogbody" class="panel panel-body">
					<br />
					<p id="description" class="hcenter pcontent">{{b.description}}</p>
					<br />
					<br />
					<br />
					<br />
					<div id="timedate" class="active" id="date"><i>created: </i>{{b.dateCreated | date: "short"}}</div>
				</div>
				<div class="panel-footer hcenter">
				</div>
			</div>
		</div>
	</div>

</div>